<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <input type="checkbox" id="menu" name="">
  <div class="sidebar">
    <div class="sidebar-brand">
        <div><img src="./assets/images/logo.png" alt=""></div>
      <span>Compte Professionel</span><br>
      <span style="font-size: 13px;">Numero de compte</span><br> <span style="font-size: 10px;">(14521600346782145578)</span>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink='/dashboard' class="active"><span class="fa fa-th-large" style="font-size: 15px;"></span><span>Dashboard</span></a>
        </li>
        <li>
        
            <div class="container-fluid" >
              <ngb-accordion [closeOthers]="true" activeIds="static-1" >
                  <ngb-panel>
                    <!-- <span class="fa fa-address-book"></span>&nbsp;&nbsp; -->
                      <ng-template ngbPanelTitle>
                        Recharger le compte <i class="fa fa-arrow-circle-down"></i>
                          <span class="toggle_btn"></span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                          <!-- ================ -->
                          
                          <ul>
                          
                            <li><a routerLink='/rechargermoncompte'><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Recharge mon Compte</a></li>
                            <li><a routerLink='/rechargeenattente'><i class="fa fa-address-book"></i>&nbsp;&nbsp;Recharge en attente </a></li>
                            <li><a routerLink='/mesrecharge'><i class="fa fa-money"></i>&nbsp;&nbsp; Mes recharge</a></li>
                          </ul>
                          <!-- ================== -->
                      </ng-template>
                  </ngb-panel>
              </ngb-accordion>

              <ngb-accordion [closeOthers]="true" activeIds="static-1">
                  <ngb-panel>
                      <ng-template ngbPanelTitle>
                         Retirer de l'argent &nbsp;<i class="fa fa-arrow-circle-down"></i>
                          <span class="toggle_btn"></span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <ul>
                          <li><a routerLink='/retirerdelargent'><i class="fa fa-money"></i>&nbsp;&nbsp;retirer de l'argent </a></li>
                          <li><a routerLink='/profildugestionnaire'><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Profil du gestionnaire</a></li>
                          <li><a routerLink='/comptederetrait'> <i class="fa fa-outdent"></i>&nbsp;&nbsp;Compte de retrait</a></li>
                          <li><a routerLink='/rechargermoncompte'><i class="fa fa-money"></i>&nbsp;&nbsp;Retrait en attente</a></li>
                        </ul>
                      </ng-template>
                  </ngb-panel>
              </ngb-accordion>   
            </div>
         </li>
      </ul>
    </div>
  </div>

  <div class="content">

    <header>
      <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Menu</span></p>
    
      <div class="search-wrapper">
        <span class="fa fa-search"></span>
        <input type="search" name="" placeholder="recherche" />
      </div>
    
      <div class="fa fa-bell">  
      </div>
      <div class="user-wrapper" id="dropdown">
        
        <div class="row">
         
            <div class="col-3">
              <img src="./assets/images/user.jpeg" width="30" height="30" class="logo-admin">
              <div class="dropdown-content">
              <p>Mon profil</p>
              <p>Deconnexion</p>
              </div>
            </div>
           
        <div class="col-3"><h4>Aissatou</h4>
          <small>Admin</small></div>
        </div>
        
        
        
      </div>
    </header>
    
    <main>
    
      <div class="composant">
        <div class="ventes">
          <div class="case">
                <div class="tableau">
                   
                      <!-- tableau mode de retrait -->
                      <table width="100%" style="margin-top: 28px;">

                        <thead>
                          <tr >
                            <td>Compte de retrait</td>
                          </tr>
                        </thead>
                        <tbody style="background-color: rgb(250, 248, 248);">
                          <tr>
                            
                            <td><h2>Mode de retrait principal: </h2>
                            </td>
                            <td><h2>ORANGE MONEY (777886573)</h2></td>
                             
                          </tr>
                          <tr>
                              <td><button type="submit" routerLink='/ajouterunmoderetrait' class="btn btn-default " style="background-color: #2f5597;
                                border-radius: 50px;">Ajouter un mode de paiement </button></td>
                              <td></td>
                                 </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td>Modes de retrait disponibles</td>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgb(250, 248, 248);">
                            <tr>
                                <td> <img src="./assets/images/om.png"> </td>
                                <td>Orange Money (Principal) <br>
                                    Les retraits dont le montant est élevé sont
                                     susceptibles d'être fractionnés en plusieurs retraits. <br>
                                    Numéro ORANGE MONEY: 777886573 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-default " style="background-color: #2f5597;
                                    border-radius: 50px;">Supprimer ce compte </button>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                      </table>
                      <!-- fin -->
      
                </div>  
          </div>
        </div>
      </div>
    </main>
    </div>
</body>
</html>