<section class="ovent-faq-section pt-120 pb-120">
    <div class="container">
        <div class="widget-box contact-box mb-80">
            <div class="title">
                <h3>Comment ça marche ?</h3>
            </div></div>
        <div class="row">
            <div class="col-lg-8">
                <div class="faq_wrapper">
                    <!-- <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-{{1+i}}" *ngFor="let item of faqs;let i = index">
                            <ng-template ngbPanelTitle>
                                {{item.title}}<span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>La procédure d’activation d’un compte business se fait en deux étapes:<br>La validation par mail <br> Connectez-vous à votre boîte mail et ouvrez le mail de notification envoyé par Helixpay Cliquez sur le lien de validation et marquez vos premiers pas chez Helixpay <br> La validation par code <br> Connectez vous à votre compte Helixpay <br> Cliquez sur le bouton en haut “Cliquez ici” pour saisir le code reçu par SMS <br> Saisir le code reçu sur votre téléphone par SMS <br> Cliquez sur “Activer mon compte”</p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion> -->
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment creer un compte Helixpay?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>Allez sur www.helixpay.com/signup ou téléchargez notre application Helixpay <br> ici Saisissez une adresse 
                                    électronique valide, le nom de votre entreprise, type de compte (Business), 
                                    mettez votre numéro de téléphone et créez un mot de passe Lisez attentivement 
                                    les conditions d’utilisation Cochez sur “Accepter” en bas des conditions 
                                    d’utilisation et cliquez sur “Créer mon compte”</p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment activer mon compte?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>La procédure d’activation d’un compte business se fait en deux étapes:<br><b><u>La validation par mail</u></b> <br> 
                                    Connectez-vous à votre boîte mail et ouvrez le mail de notification envoyé 
                                    par Helixpay Cliquez sur le lien de validation et marquez vos premiers pas 
                                    chez Helixpay <br> <b><u>La validation par code</u></b> <br> 
                                    Connectez vous à votre compte Helixpay <br> 
                                    Cliquez sur le bouton en haut “Cliquez ici” pour saisir le code reçu par SMS 
                                    <br> Saisir le code reçu sur votre téléphone par SMS <br> 
                                    Cliquez sur “Activer mon compte”</p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Quelles sont les fonctionnalités disponibles sur le compte Helixpay?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    Les fonctionnalités disponibles au niveau du compte Helixpay Business sont les suivantes : <br>
                                        Tableau de bord <br>
                                        Paramètres et historique <br>
                                        Transférer de l'argent <br>
                                        Retirer de l'argent <br>
                                        Demander un paiement <br>
                                        Gestion des rôles <br>
                                        API WebPay/MobPay <br>
                                        Débourser des paiements <br>
                                        Collecter des paiements <br>
                                        Gérer mes clients
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment transferer de l'argent avec un compte business ?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                   1- Connectez vous à votre compte PayDunya <br>
                                   2- Aller sur l’onglet transférer de l’argent <br>
                                   3- Indiquer votre adresse e-mail <br>
                                   4- Indiquez le montant à transférer <br>
                                   5- Saisissez votre mot de passe <br>
                                   6- Validez l’opération en cliquant sur Confirmer la transaction
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment envoyer une demande paiement avec mon compte business ?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                   1- Connectez vous à votre compte Helixpay <br>
                                   2- Aller sur l’onglet transférer de l’argent <br>
                                   3 -Indiquer votre adresse e-mail <br>
                                   4- Indiquez le montant à transférer <br>
                                   5- Saisissez votre mot de passe <br>
                                   6- Validez l’opération en cliquant sur Confirmer la transaction <br>
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment intégrer l'API Helixpay ?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    Pour intégrer le bouton de paiement de Helixpay sur votre site, allez sur la page: <br>
                                    Allez sur la page developers helixpay.com <br>
                                    Suivez les étapes indiquées sur la page “Introduction” <br>
                                    Identifiez l’API qui vous convient et suivez la démarche indiquée pour son intégration parfaite sur votre site Web <br>
                                    ça y est c’est fait vous disposez de nos boutons de paiement. <br>
                                    Saisissez votre mot de passe <br>
                                    Validez l’opération en cliquant sur Confirmer la transaction <br>
                                    Vous pouvez désormais recevoir des paiements directs par : Orange Money, free money , Cash, E-money, Postecash, Wizall, Mastercard ou Visa
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                Comment deleguer des responsbilites à mon equipe avec mon compte Helixpay business ?
                                <span class="toggle_btn"></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    La fonction Gestion des rôles vous permet de déléguer des responsabilités au personnel de votre entreprise afin qu’ils effectuent des tâches comme : <br> 
                                    envoyer des demandes de paiement, collecter des paiements de clients, intégrer les API sur votre site web ou application mobile et débourser des paiements. <br>
                                    Connectez vous à votre compte Helixpay <br>
                                    Cliquez sur Gestion des rôles <br>
                                    Renseignez le champ nom de l’équipe et sauvegardez <br>
                                    Cliquez sur Membre et renseignez l’adresse e-mail de chaque personne que vous voulez ajouter dans votre équipe et cliquez sur Inviter </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ovent-sidebar event-sidebar">
                    <!-- <div class="widget-box get-box bg_cover mb-40"
                        style="background-image: url(assets/images/get-1.jpg);">
                        <div class="ovent-overlay"></div>
                        <div class="title">
                            <span>get in touch</span>
                            <h3>Have Any Query</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do.</p>
                            <a routerLink="/contact" class="main-btn"><i class="fal fa-arrow-right"></i>Get A Quote</a>
                        </div>
                    </div> -->
                    <div class="widget-box contact-box mb-40">
                        <div class="title">
                            <span>NE TROUVE PAS ENCORE</span>
                            <h3>Service Client</h3>
                        </div>
                        <form>
                            <div class="form_group">
                                <input type="text" class="form_control" placeholder="Enter your name">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="form_group">
                                <input type="email" class="form_control" placeholder="Enter your email">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="form_group">
                                <input type="text" class="form_control" placeholder="Enter your subject/question">
                                <i class="far fa-question"></i>
                            </div>
                            <div class="form_button">
                                <button class="main-btn"><i class="fal fa-arrow-right"></i>Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>