<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <input type="checkbox" id="menu" name="">
  <div class="sidebar">
    <div class="sidebar-brand">
        <div><img src="./assets/images/logo.png" alt=""></div>
      <span style="font-size: 14px;">Compte Professionel</span><br>
      <span style="font-size: 13px;">Numero de compte</span><br> <span style="font-size: 10px;">(14521600346782145578)</span>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink='/compteentreprise' class="active">
              <span class="fa fa-th-large" style="font-size: 15px;">
            </span><span>Dashboard</span></a>
        </li>
        <li>
            <a routerLink='/gererboutique' class="active">
                <span class="fa fa-cart-plus" style="font-size: 15px;">
              </span><span>Gerer ma boutique</span></a>
          </li>
          <li>
            <a routerLink='/transfereArgent' class="active">
                <span class="fa fa-arrow-circle-right" style="font-size: 15px;">
              </span><span>Transferer de l'argent</span></a>
          </li>
          <li>
            <a routerLink='/demanderpaiement' class="active">
                <span class="fa fa-share" style="font-size: 15px;">
              </span><span>Demander un paiement</span></a>
          </li>
          <li>
            <a routerLink='/collectepaiement' class="active">
                <span class="fa fa-money" style="font-size: 15px;">
              </span><span>collecter des paiements</span></a>
          </li>
          <li>
            <a routerLink='/dashboard' class="active">
                <span class="fa fa-money" style="font-size: 15px;">
              </span><span>Debourser des paiements</span></a>
          </li>
          <li>
            <a routerLink='/envoyerducreditTelephone' class="active">
                <span class="fa fa-phone" style="font-size: 15px;">
              </span><span>Envoyer du credit tel</span></a>
          </li>
          <li>
            <a routerLink='/gererclient' class="active">
                <span class="fa fa-address-book" style="font-size: 15px;">
              </span><span>Gerer mes clients</span></a>
          </li>
          <li>
            <a routerLink='/apiwebmobile' class="active">
                <span class="fa fa-paperclip" style="font-size: 15px;">
              </span><span>API Web/Mobile</span></a>
          </li>
          <li>
            <a routerLink='/roles' class="active">
                <span class="fa fa-users" style="font-size: 15px;">
              </span><span>Gestion des roles</span></a>
          </li>
        <li>
        
            <div class="container-fluid" >
              <ngb-accordion [closeOthers]="true" activeIds="static-1" >
                  <ngb-panel>
                    <!-- <span class="fa fa-address-book"></span>&nbsp;&nbsp; -->
                      <ng-template ngbPanelTitle>
                        Recharger le compte <i class="fa fa-arrow-circle-down"></i>
                          <span class="toggle_btn"></span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                          <!-- ================ -->
                          
                          <ul>
                          
                            <li><a routerLink='/rechargermoncompte'><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Recharge mon Compte</a></li>
                            <li><a routerLink='/rechargeenattente'><i class="fa fa-address-book"></i>&nbsp;&nbsp;Recharge en attente </a></li>
                            <li><a routerLink='/mesrecharge'><i class="fa fa-money"></i>&nbsp;&nbsp; Mes recharge</a></li>
                          </ul>
                          <!-- ================== -->
                      </ng-template>
                  </ngb-panel>
              </ngb-accordion>

              <ngb-accordion [closeOthers]="true" activeIds="static-1">
                  <ngb-panel>
                      <ng-template ngbPanelTitle>
                         Retirer de l'argent &nbsp;<i class="fa fa-arrow-circle-down"></i>
                          <span class="toggle_btn"></span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <ul>
                          <li><a routerLink='/retirerdelargent'><i class="fa fa-money"></i>&nbsp;&nbsp;retirer de l'argent </a></li>
                          <li><a routerLink='/profildugestionnaire'><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Profil du gestionnaire</a></li>
                          <li><a routerLink='/comptederetrait'> <i class="fa fa-outdent"></i>&nbsp;&nbsp;Compte de retrait</a></li>
                          <li><a routerLink='/rechargermoncompte'><i class="fa fa-money"></i>&nbsp;&nbsp;Retrait en attente</a></li>
                        </ul>
                      </ng-template>
                  </ngb-panel>
              </ngb-accordion>   
            </div>
         </li>
      </ul>
    </div>
  </div>
  <div class="content">

    <header>
      <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Menu</span></p>
    
      <div class="search-wrapper">
        <span class="fa fa-search"></span>
        <input type="search" name="" placeholder="recherche" />
      </div>
    
      <div class="fa fa-bell">  
      </div>
      <div class="user-wrapper" id="dropdown">
        
        <div class="row">
         
            <div class="col-3">
              <img src="./assets/images/user.jpeg" width="30" height="30" class="logo-admin">
              <div class="dropdown-content">
              <p>Mon profil</p>
              <p>Deconnexion</p>
              </div>
            </div>
           
        <div class="col-3"><h4>Aissatou</h4>
          <small>Admin</small></div>
        </div>
        
        
        
      </div>
    </header>
    
    <main>
    
      <div class="composant">
        <div class="ventes">
          <div class="case">
                <div class="tableau">
                   
                      <!-- tableau profil -->
                      <table width="100%" style="margin-top: 28px;">

                        <thead>
                            
                          <tr><td></td>
                            <td ><div>Créer une nouvelle demande de paiement ou facture.</div></td><td></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr><td style="width: 20%;"></td><td style="width: 60%;"><div class="contact-form">
                         
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="text"> Titre:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="text" placeholder="" name="titre">
                              </div>
                            </div>
                            <div class="form-group champ" >
                                <label class="control-label col-sm-4" for="text">Montant (FCFA)</label>
                                <div class="row">
                                    <div class="col-sm-8">
                                 
                                        <input type="text" class="form-control" id="text" name="montant" placeholder="2000">
                                        
                                      </div>
                                      <div class="col-sm-2">
                                        <div class="input-group-text form-control">FCFA</div>
                                      </div>
                                </div>
                              </div>
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="text">Description :</label>
                              <div class="col-sm-10">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                            </div>

                            <div class="form-group col-sm-10" style="border: dotted; margin-top: 15px;" >
                              <label for="file-upload" id="label-upload" class="custom_file_upload  "><i class="fa fa-cloud-upload icon-cloud"></i>
                                Fichier(Excel ou CSV)
                              </label>
                              <div class="col-sm-10">
                                <input id="file-upload" class="form-control" name="file_upload" type="file">
                              </div>
                              
                              <div class="text-danger format_file"><span id="file_format"></span></div>
                            </div>
                               
                       
                              
                              <div class="text-center form-group" style="margin-top: 20px;">        
                                <div class="col-sm-offset-2 col-sm-10">
                                  
                                  <button type="submit" class="btn btn-default " style="background-color: #2f5597;
                                   border-radius: 50px; width: 200px;">Enregistrer</button>
                                    
                                    <button type="submit" class="btn btn-default " style="background-color: #2f5597;
                                   border-radius: 50px; width: 200px;">Anuller</button>
                                </div>
                              </div>
                             
                          </div></td><td style="width: 20%;"></td></tr>
                        </tbody>
                      </table>
                      <!-- fin -->
      
                </div>  
          </div>
        </div>
      </div>
    </main>
    </div>
</body>
</html>