<section class="intro-video-area video-area-v1 bg_cover aida" [style.background-image]="'url(assets/images/connexion.jpg)'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">API </span>
                        <h2>INTÉGRATION</h2>
                    </div>
                    <!-- <h4>The biggest largest widest anticipated Digital Web Conference.</h4> -->
                    <p>Nous disposons de l'API ainsi que la documentation nécessaire afin de
                         vous faciliter l’intégration de notre solution HelixPay 
                         et d'accepter différents moyens de paiement .</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-video-play">
                    <a class="video-popup" routerLink='/api'>
                        <img src="./assets/images/plus.png" alt="">
                        <!-- <i class="fas fa-play"></i> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>